@import 'vela-purple.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: var(--primary-color-text);
}

* {
  font-family: var(--font-family);
}

body {
  background-color: var(--surface-ground);
}